* {
  margin: 1px;
}

p{
  font-family: "Heebo", sans-serif;
  max-width: 60vh;
  min-width: 60vh;
  font-size: 20px;
}

body {
  background-image: url(wepik-20211016-103442.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.topKnappar {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  min-height: 10vh;
  min-width: 40vh;
  max-height: fit-content;
  flex-direction: row-reverse;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  background-color: rgb(0, 255, 0);
  outline-style: solid;
  outline-color: black;
  outline-width: 5px;
}

h1 {
  text-align: center;
  font-family: "Heebo", sans-serif;
}

.about{
  padding: 25px;
  font-size: 15px;
  transition-duration: 0.4s;
  background-color: chartreuse;
}

.about1{
  padding: 25px;
  font-size: 15px;
  transition-duration: 0.4s;
  background-color: chartreuse;
}

.about:hover{
  background-color: white;
}

.about1:hover{
  background-color: white;
}

.huvudText {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.huvudTextText {
  background-color: rgb(134, 255, 134);
  width: 90%;
  padding-bottom: 5%;
  margin-bottom: 2%;
  outline-width: 3px;
  outline-color: black;
  outline-style: solid;
}
.signUpUp {
  padding: 20px;
  font-size: 50px;
  transition-duration: 0.4s;
  background-color: chartreuse;
}

.signUpUp:hover{
  background-color: white;
  color:black
}
.signUp{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 25px;
}

.underHuvudText {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}

.underHuvudTextText {
  background-color: rgb(134, 255, 134);
  width: 90%;
  padding-bottom: 5%;
  margin-bottom: 2%;
  outline-width: 3px;
  outline-color: black;
  outline-style: solid;
}


.contactButton{
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.contactButtonText{
  padding: 25px;
  font-size: 15px;
  transition-duration: 0.4s;
  background-color: chartreuse;
}

.contactButtonText:hover{
  background-color: white;
}

.reviews{
  display: flex;
  background-color: rgb(134, 255, 134);
  margin-top: 60px;
  margin-right: 0px;
  outline-style: solid;
  outline-width: 5px;
  outline-color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
}
