*{
    margin: 0px;
}

.topKnappar{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    min-height: 10vh;
    min-width: 40vh;
    max-height: fit-content;
    flex-direction: row-reverse;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 10vh;
}


h1{
    text-align: center;
    font-family:  'Heebo', sans-serif;
}

.huvudText{
    
    max-width: fit-content;
    width: 30%;
    margin-top: 5%;
}