*{
    margin: 0px;
}

.topKnappar{
    display: flex;
    justify-content: center;
    align-items: space-around;
    min-heigt: 5vh;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 10vh;
}


h1{
    text-align: center;
    font-family:  'Heebo', sans-serif;
}